<div class="container-fluid ">


    <ngx-spinner bdColor="rgba(255,255,255,0.8)" size="large" color="#105ac7" type="ball-grid-pulse" loadingText="Chargement...">
    </ngx-spinner>



    <div class="row">
        <div class="mx-auto " [hidden]="!error" style="width: 500px;">
            <p class="text-danger"> Erreur de connexion au serveur</p>
        </div>
        <div class="col-12  m-2" [hidden]="error">
            <alert type="info" *ngIf="employes?.length==0">
                <h4 class="alert-heading">Votre requete ne peut aboutir</h4>
                <p>Cet employé n'existe pas</p>
                <a [routerLink]="['/home']" class="link text-primary float-right pb-1">Retourner sur la page de recherche</a>

            </alert>

            <div class="row" *ngIf="!employes?.length==0">
                <div class="col">
                    <h5 class="text-left">Liste des employés trouvés</h5>
                </div>

                <div class="col">
                    <span class="float-right">

                        <span>
                            <a [routerLink]="['/home']" class="link text-primary">Page de recherche</a>
                        </span>
                        &nbsp;
                        <span>
                            <a *jhiHasAnyAuthority="['ROLE_ADMIN_PROJET','ROLE_CONSULTER_PROJET']"  [routerLink]="['/projet']" class="link text-primary">Voir les projets</a>
                        </span>
                        &nbsp;
                        <span>
                            <a  *jhiHasAnyAuthority="[ 'ROLE_ADMIN_COURRIER','ROLE_GESTION_COURRIER','ROLE_VISIONNER_COURRIER']" [routerLink]="['/suiviecourrier/home']" class="link text-primary">Voir les courriers</a>
                        </span>
                       

                    </span>
                </div>
            </div>
            <div class="row " *ngIf="!employes?.length==0">
                <!--div class="card-header ">
                    <h5 class="text-uppercase text-underlined">Détail employé</h5>
                </div-->
                <div class="col">

                    <!--h6 class="card-subtitle mb-2 text-muted text-Capitalize">Recherche d'un employé</h6-->
                    <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
                    <!--a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a-->

                    <!--form class="form-inline mb-1 float-right">
                        <input class="form-control-sm mr-sm-2  input-sm" type="search" key.value='' (keyup.enter)="searchEmployes(key.value)" (blur)="searchEmployes(key.value)" #key  placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0 btn-sm"   (click)="searchEmployes(key.value)"><i class="fas fa-search"></i></button>
                    </form-->
                    <!--input #newHero
                          (keyup.enter)="addHero(newHero.value)"
                          (blur)="addHero(newHero.value); newHero.value='' ">
              
                        <button (click)="addHero(newHero.value)">Add</button-->
                    <div class="clearfix"></div>

                    <!--p-panel header="Title" [toggleable]="true">
                      Content ghgvh
                  </p-panel-->
                   <!--  <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Ajouter un employé</button>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table  table table-bordered  table-hover  ">


                            <thead class="text-uppercase thead-dark">
                                <tr>
                                    <th scope="col" class="d-none"></th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Fonction</th>
                                    <th scope="col">Service</th>

                                </tr>
                            </thead>
                            <tbody class="text-uppercase ">

                                <tr class="link" *ngFor="let employe of employes" (click)="onClickRow(employe)">

                                    <td scope="row" class="d-none">
                                        <a routerLink="/employe/55">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </td>
                                    <td class="text-uppercase">{{employe.nom}}</td>
                                    <td class="text-capitalize">{{employe.prenom}}</td>
                                    <td class="text-capitalize">{{employe.telFixePro}}</td>
                                    <td>{{employe.fonction.label}}</td>
                                    <td>{{employe.service.label}}</td>

                                    <!--td class="text-center">
                                        <div class="clearfix">
                                      <button class="btn btn-primary btn-sm m-1" (click)="deleteEmploye(employe)" title="detaille"> <i class="fas fa-align-justify"></i></button>
                          
                                    </div>
                                    </td-->
                                </tr>

                            </tbody>
                            <tfoot>
                                <!--caption>Employe Details</caption-->
                            </tfoot>
                        </table>

                        <div class="clearfix"></div>
                        <!--pagination class="float-right"  [itemsPerPage]="_size"  [totalItems]="totalElements"
                         [firstText]="'Premier'" [lastText]="'Dernier'" [previousText]="'Préscedant'" [nextText]="'Suivant'"></pagination-->

                        <pagination class="float-right" [boundaryLinks]="true" [totalItems]="totalElements" [itemsPerPage]="_size" [(ngModel)]="currentPageNumber"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"
                            [maxSize]="maxSize">

                        </pagination>





                        <!--table class="table table-striped" [mfData]="employes" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                            <tr>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="nom">Nom</mfDefaultSorter>
                                </th>
                                <th style="width: 50%">
                                    <mfDefaultSorter by="prenom">Prenom</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="telFixePro">Telephone</mfDefaultSorter>
                                </th>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="fonction.label">Fonction</mfDefaultSorter>
                                </th>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="service.label">Service</mfDefaultSorter>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>{{item.nom}}</td>
                                <td>{{item.prenom}}</td>
                                <td class="text-right">{{item.telFixePro}}</td>
                                <td>{{item.fonction.label | uppercase}}</td>
                                <td>{{item.service.label | uppercase}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                        </table-->







                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--===================================test============================================-->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div> -->