<div class="row  h-100">
    <div class="my-auto mx-auto">

        <form class="form-signin" novalidate #f="ngForm" (ngSubmit)="ChangePassword()">
<!--             <img class="mb-4" src="" alt="" width="72" height="72">
 -->   
 <alert *ngIf="error" type="danger" dismissOnTimeout="6000" (onClosed)="error = false">{{msg
    | translate}} </alert>
 
 <h5 class="h4 mb-3 font-weight-normal">Changement de mot de passe</h5>
         

            <div class="form-group">
                <label for="passwordold" class="sr-only">Ancien mot de passe</label>
                    <input type="password" name="passwordold" [(ngModel)]="entity.currentpassword" class="form-control" placeholder="Ancien mot de passe"
                        required autofocus>
            </div>
            <div class="form-group">
                <label for="passwordnew" class="sr-only">Nouveau mot de passe</label>
                    <input type="password" name="passwordnew" [(ngModel)]="entity.password" class="form-control" placeholder="Nouveau mot de passe"
                        required autofocus>
            </div>
             <span *ngIf="entity.password!=password" [hidden]="entity.password==null||password==null" class="danger"></span>
          <div class="form-group ">
                <label for="confirmpassword" class="sr-only">Confirmer mot de password</label>

                    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" [(ngModel)]="password"
                        placeholder="Confirmer mot de passe" required>


            </div>


            <!--div class="error active" *ngIf="authenticationError" >
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
    
                <div class="alert-sm alert-warning">
                    <a class="alert-link" (click)="requestResetPassword()" >Did you forget your password?</a>
                </div>
                <div class="alert-sm alert-warning">
                    <span >You don't have an account yet?</span>
                    <a class="alert-link" (click)="register()" >Register a new account</a>
                </div-->
            <button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid || entity.password!=password">Changer mot de passe</button>
            <a [routerLink]="['/login']" class="link text-primary my-2 float-right">Page de connexion</a>
            <a (click)="retour()" href="javascript:void(0)" class="link text-primary my-2 float-left">Retour</a>


            <!--p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p-->
        </form>

    </div>

</div>