/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 août 2018, 17:22:27
    Author     : abdoullah
*/

/* .successline{
    background-color: #33b266;
    color:#ffffff;
}

.dangerline{
    background-color: #ee0c1f;
    color:#ffffff;
    animation: allblink 2s infinite;
}

@keyframes allblink { 
    0% { }
    50% { color:#ffffff; background-color:#f0091c; } 
    } */