<div class="col-md-12 mx-auto my-auto">


        <!--  <div class="card mt-5">
            <div class="card-body">
               
                <h5 class="card-title">Enregistrement des fonctions</h5>
                <form class="pt-3" novalidate [formGroup]="newForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                       
    
                        <div class="col-md-3 mb-3">
    
                            <div class="form-label-group">
                                <input type="text" id="label" formControlName="label" class="form-control form-control-sm" autofocus required>
                                <label class="text-left" for="label">Libellé</label>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="float-left">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
               
            </div>
           
        </div> -->
    
        <div class="row">
            <div class="col-md-6">
                <div class="mt-5" *ngIf="typeretourSuccess||typeretourError||typeretourUpdateSuccess||typeretourDeleteSuccess">
                    <alert *ngIf="typeretourSuccess" type="success" dismissOnTimeout="6000" (onClosed)="typeretourSuccess = false">
                        {{ msg | translate:param}}</alert>
                    <alert *ngIf="typeretourUpdateSuccess" type="success" dismissOnTimeout="6000" (onClosed)="typeretourUpdateSuccess = false">
                        {{ msg | translate:param}}</alert>
                    <alert *ngIf="typeretourDeleteSuccess" type="success" dismissOnTimeout="6000" (onClosed)="typeretourDeleteSuccess = false">
                        {{ msg | translate}}</alert>
                    <alert *ngIf="typeretourError" type="danger" dismissOnTimeout="6000" (onClosed)="typeretourError = false"> {{ msg | translate}}</alert> 
                </div>
                <div class="card mt-3">
                    <div class="card-body" *ngIf="new">
                        <h5 class="card-title">Enregistrement type de retour</h5>
                        <form class="pt-3" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                            <div class="form-row">
    
    
                                <div class="col-md-6 ">
                                    <label for="label">Libellé</label>
                                    <div class="form-group">
                                        <input type="text" id="label" [(ngModel)]="entity.label" name="label" class="form-control form-control-sm"
                                            autofocus required>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="float-left">
                                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>
                            </div>
                        </form>
                    </div>
    
                    <!--  -->
                    <div class="card-body" *ngIf="update">
                        <h5 class="card-title">Modification type de retour</h5>
                        <form class="pt-3" novalidate (ngSubmit)="onUpdate()" #f="ngForm">
                            <div class="form-row">
    
                                <div class="col-md-6 ">
                                    <label for="label">Libellé</label>
                                    <div class="form-group">
                                        <input type="text" id="label" [(ngModel)]="updateEntity.label" name="label" class="form-control form-control-sm"
                                            autofocus required>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="float-left">
                                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Modifier</button>
                            </div>
                        </form>
                    </div>
                    <!--  -->
    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Liste type de retour</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover" *ngIf="allTyperetour">
                                <!--   <caption>Liste des fonctions &nbsp;
                                            <a href="javascript:void(0)" class="text-primary" *ngIf="affichertout"
                                                (click)="loadAll()">Afficher tout</a>
    
                                        </caption> -->
                                <thead class="text-uppercase thead-dark">
                                    <tr>
                                        <th scope="col">Libellé</th>
                                        <th class="text-center">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let typeretour of allTyperetour">
                                        <td class="text-uppercase">{{typeretour.label}}</td>
                                        <td class="text-center">
                                          <!--   <a class="text-primary" title="modifier" href="javascript:void(0)" (click)="updateTyperetour(typeretour)">
                                                <i class="fa fa-edit"></i>
                                            </a> -->


                                            <button  type="button" (click)="updateTyperetour(typeretour)"  class="btn btn-primary btn-circle-min"
                                            title="modifier">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                            &nbsp;&nbsp;&nbsp;
                                            <button  type="button" (click)="addTyperetour()" class="btn btn-success btn-circle-min"
                                            title="Ajouter type retour">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                           <!--  <a class="text-success" href="javascript:void(0)" (click)="addTyperetour()">
                                                <i class="fa fa-plus"></i>
                                            </a> -->
                                            &nbsp;&nbsp;&nbsp;
                                           <!--  <a class="text-danger" href="javascript:void(0)" (click)="onDelete(typeretour.id)">
                                                <i class="fa fa-trash"></i>
                                            </a> -->

                                            <button  type="button" (click)="onDelete(typeretour.id)" class="btn btn-danger btn-circle-min"
                                            title="Supprimer type retour">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        </td>
    
                                    </tr>
                                </tbody>
                                <tfoot>
    
                                </tfoot>
                            </table>
                        </div>
                        <div *ngIf="allTyperetour" class="">
                            <!--div class="row justify-content-center">
                                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                            </div-->
                            <div class="row justify-content-center">
                                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--  <ng-template #fonctionModal>
            <div class="">
            <h5 class="card-title">Enregistrement des fonctions</h5>
            <form class="pt-3" novalidate [formGroup]="newForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
    
    
                    <div class="col-md-6 ">
                        <label for="label">Libellé</label>
                        <div class="form-group">
                            <input type="text" id="label" formControlName="label" class="form-control form-control-sm" autofocus required>
                        </div>
    
                    </div>
    
                </div>
    
                <div class="float-left">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
        </ng-template> -->
    </div>