<app-navbar></app-navbar>

<div class="container-fluid mt-5">
    <div class="row ">

        <div class="col mt-2">
            <a [routerLink]="['/home']" class="link text-primary float-right">Page de recherche</a>

        </div>
    </div>

    <div class="row h-100  w-100">
        <div class="col my-auto mx-auto" *ngIf="projets">
            <div class="card bg-light border-light mb-1">
                <div class="card-body">
                    <!--==================================test====================================-->
                    <a href="javascript:void(0)" class="card-link text-primary " (click)="isCollapsedSearch = !isCollapsedSearch"
                        [attr.aria-expanded]="!isCollapsedSearch" aria-controls="collapseExample">
                        <span class="card-title">Recherche &nbsp;
                            <span *ngIf="isCollapsedSearch">
                                <i class="fas fa-angle-down"></i>
                            </span>
                            <span *ngIf="!isCollapsedSearch">
                                <i class="fas fa-angle-up"></i>
                            </span>
                        </span>
                    </a>

                    <div class="row" [ngbCollapse]="isCollapsedSearch">
                        <!-- <div class="col-sm-6 ">
                            <div class="card  bg-light border-light">
                                <div class="card-body">

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" (click)="activeSearch()" [checked]="simpleSearch" name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1">Recherche simple</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="r2" [checked]="advanceSearch" (click)="activeAdvanceSearch()" name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="r2">Recherche avancée</label>
                                    </div>

                                </div>
                            </div>
                        </div>-->
                        <div class="col-sm-6 pb-0">
                            <div class="card bg-light border-light">
                                <div class="card-body">
                                    <form class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="simpleSearch" class="sr-only">Rechercher</label>
                                            <input key.value='' search='key.value' (keyup.enter)="loadAllSimpleSearch(key.value)"
                                                (blur)="loadAllSimpleSearch(key.value)" #key type="search" class="form-control-sm"
                                                id="simpleSearch" placeholder="Recherche simple">
                                        </div>
                                        <button (click)="loadAllSimpleSearch(key.value)" class="btn btn-sm btn-primary mb-2">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>

                                    <!-- <form #searchFormAd="ngForm" novalidate (submit)="loadAdvancedSearch(searchFormAd)" novalidate >
                                        <div class="form-row">
                                            <div class="col-md-4 mb-3">
                                                <label for="libelle">Libelle</label>
                                                <input type="text" [(ngModel)]="label" name="label" class="form-control" placeholder="Label" autofocus class="form-control form-control-sm"
                                                    id="libelle" placeholder="Libelle projet">

                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="nom">Nom</label>
                                                <input type="text" [(ngModel)]="nom" name="nom" class="form-control form-control-sm" id="nom" placeholder="Nom du proprietaire">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="prenom">Prenom</label>
                                                <input type="text" [(ngModel)]="prenom" name="prenom" class="form-control form-control-sm" id="prenom" placeholder="Prénom du proprietaire">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="dateCreation">Date de creation</label>
                                                    <input bsDatepicker [bsConfig]="{dateInputFormat : 'YYYY-MM-dd'}" [bsValue]="undefined" type="text" [(ngModel)]="datecreation" name="datecreation" class="form-control form-control-sm" id="dateCreation" placeholder="Date de création" >
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="dateDebut">Date debut</label>
                                                    <input bsDatepicker [bsValue]="undefined" [bsConfig]="{dateInputFormat : 'YYYY-MM-dd'}" type="text" name="datedebut" [(ngModel)]="datedebut" class="form-control form-control-sm" id="dateDebut" placeholder="Date debut" >
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="dateFin">Date fin</label>
                                                    <input bsDatepicker [bsValue]="undefined" [bsConfig]="{dateInputFormat : 'YYYY-MM-dd'}" [(ngModel)]="datefin" name="datefin" type="text" class="form-control form-control-sm" id="dateFin" placeholder="Date fin" >
                                                </div>
                                            </div>

                                        <button class="btn btn-primary btn-sm" type="submit">Rechercher &nbsp;
                                            <i class="fa fa-search">&nbsp;</i>
                                        </button>


                                    </form>-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--==================================test====================================-->

                    <h5 class="card-title">Liste des projets</h5>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <caption>Liste des projets &nbsp;
                                <a href="javascript:void(0)" class="text-primary" *ngIf="affichertout" (click)="loadAll()">Afficher
                                    tout</a>

                            </caption>
                            <thead class="thead-dark">
                                <tr>

                                    <th>Libellé
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Créer par
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Chef projet
                                        <span class="fa fa-sort"></span>
                                    </th>

                                    <th>Date de création
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Date debut
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Date fin
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Etat du projet
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Progression
                                        <span class="fa fa-sort"></span>
                                    </th>


                                    <!--th>Actions</th-->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let pr of projets; trackBy: trackIdentity"  [routerLink]="['../projet', pr.id]">-->
                                <!--                    <td ><a [routerLink]="['../admin/produit', pr.name]">{{pr.id}}</a></td>-->
                                <tr class="text-bold" *ngFor="let projet of projets" (click)="onClickProjet(projet.id)">
                                    <td class="text-uppercase">{{projet?.label}}</td>
                                    <td class="text-uppercase">{{projet.createBy?.nom}}&nbsp;{{projet.createBy?.prenom}}</td>
                                    <td class="text-uppercase">{{projet.user?.nom}}&nbsp;{{projet.user?.prenom}}</td>
                                    <td class="text-uppercase">{{projet?.datecreation| date: 'dd-MM-yyyy'}}</td>
                                    <td class="text-uppercase">{{projet?.datedebut| date: 'dd-MM-yyyy'}}</td>
                                    <td class="text-uppercase">{{projet?.datefin| date: 'dd-MM-yyyy'}}</td>
                                    <td>{{projet.etatProjet}}</td>
                                    <td [ngClass]="{'text-danger': projet.echeance=='danger' , 'text-success' : projet.echeance=='success','text-info' : projet.echeance=='info','text-warning' : projet.echeance=='warning'}">
                                        <div class="mb-2">
                                            <progressbar max="100" class="progress-striped active" [value]="projet.progression"
                                                [type]="projet.echeance" [striped]="true" [animate]="true">
                                                <b class="text-dark">{{projet.progression}}%</b>
                                            </progressbar>
                                        </div>
                                    </td>
                                    <!--td class=""-->
                                    <!--button type="button" title="modifier" (click)="editProduit(pr)" class="btn btn-icon btn-success btn-sm">
                          <clr-icon shape="edit"></clr-icon>
                      </button>

                      <button type="button" title="Supprimer" (click)="confirmRemoveProfile(pr)"  class="btn btn-icon btn-danger btn-sm">
                          <clr-icon shape="remove"></clr-icon>
                      </button-->

                                    <!--/td-->
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col my-auto mx-auto" *ngIf="taches">
            <div class="card bg-light border-light mb-1">
                <div class="card-body">
                    <h5 class="card-title">Liste des tâches</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered ">
                            <caption>Liste des tâches</caption>
                            <thead class="thead-dark">
                                <tr>
                                    <th>Libellé
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Assigné à
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Téléphone
                                        <span></span>
                                    </th>
                                    <th>Date debut
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Date fin
                                        <span class="fa fa-sort"></span>
                                    </th>
                                    <th>Progression
                                        <span> </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor="let tache of affectProjet.taches" [ngClass]="{'dangerline': tache.echeance==true , 'successline' : tache.echeance==false}">-->
                                <!--   <tr *ngFor="let tache of taches"  [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info'}" > -->
                                <tr *ngFor="let tache of taches" class="text-bold">
                                    <td [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info','bg-warning' : tache.echeance=='warning'}">{{tache.label}}</td>
                                    <td [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info','bg-warning' : tache.echeance=='warning'}">{{tache.employe}}</td>
                                    <td [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info','bg-warning' : tache.echeance=='warning'}">
                                        <span *ngIf="tache.telPro">{{tache.telPro}}</span>
                                        <span *ngIf="tache.telFixePro">/ {{tache.telFixePro}}</span>
                                        <span *ngIf="tache.telAbbr">/ {{tache.telAbbr}}</span>
                                    </td>
                                    <td [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info','bg-warning' : tache.echeance=='warning'}">{{tache.dateDebut|
                                        date: 'dd-MM-yyyy'}}</td>
                                    <td [ngClass]="{'dangerline': tache.echeance=='danger' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='info','bg-warning' : tache.echeance=='warning'}">{{tache.dateFin|
                                        date: 'dd-MM-yyyy'}}</td>
                                    <!-- [ngClass]="{'dangerline': tache.echeance=='oui' , 'bg-success' : tache.echeance=='success','bg-info' : tache.echeance=='egal'}" -->
                                    <td [ngClass]="{'text-danger': tache.echeance=='danger' , 'text-success' : tache.echeance=='success','text-info' : tache.echeance=='info','text-warning' : tache.echeance=='warning'}">
                                        <div class="mb-2">
                                            <progressbar max="100" class="progress-striped active" [value]="tache.progression"
                                                [type]="tache.echeance" [striped]="true" [animate]="true">
                                                <b class="text-dark">{{tache.progression}}%</b>
                                            </progressbar>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <button (click)="employeBack()" class="btn btn-primary btn-sm my-5 my-s-0 ">
            <i class="fa fa-arrow-left"></i>&nbsp; Retour
        </button>
    </div>
</div>