<div class="container-fluid  d-flex  flex-column w-100 h-100 p-3 mx-auto">

    <header class="masthead mb-auto ">
        <!--        <div class="inner">
                    <h3 class="masthead-brand text-light">ANNUPS</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Contact</a
        
                    </nav> 
                </div>-->
        <div class="row">
            <div class="col-9 col-md-9 "></div>
            <div class="col-3 col-md-3 col-sm-12 mx-auto">
                <h5 class="text-primary"> Annuaire </h5>
                <form class="form-search form-inline my-2 my-lg-0 pt-3  ">
                    <alert *ngIf="isOpenAlert" type="info" dismissOnTimeout="6000" (onClosed)="isOpenAlert = false">{{errors}}</alert>
                    <!--label *ngIf="errors" class="bg-danger h3 mb-3 font-weight-normal">{{errors}} </label-->
                    <!--input type="search"  key.value='' search='key.value'  (keyup.enter)="getKey(key.value)" (blur)="getKey(key.value)" #key  class="form-control mr-sm-2 float-right" id="recherche" aria-label="Search" placeholder="Rechercher"-->
                    <input type="search" key.value='' search='key.value' #key class="form-control mr-sm-2 float-right" id="recherche" aria-label="Search"
                        placeholder="Rechercher">
                    <button (click)="getKey(key.value)" class="btn btn-primary my-2 my-sm-0 float-right">
                        <i class="fas fa-search"></i>
                    </button>

                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-9 col-md-9"></div>
            <div class="col-3 col-md-3 col-sm-12 mx-auto">
                <a class="link link-primary text-primary my-2 my-lg-0 pt-3" [routerLink]="['/rechercheavancee']"> Recherche avancée</a>
            </div>

        </div>


    </header>

    <main role="main" class="inner cover mx-auto  mr-auto">
        <!--
        <h1 class="cover-heading text-primary">ANNUPS</h1>



        <form class="form-search form-inline my-2 my-lg-0 pt-3" *ngIf="afficherSimple">
                            <h1 class="h3 mb-3 font-weight-normal">{{message}}</h1>
            <input type="search" type="search" key.value='' (keyup.enter)="searchEmployes(key.value)" (blur)="searchEmployes(key.value)" #key  class="form-control mr-sm-2 " id="recherche" aria-label="Search" placeholder="Rechercher">
            <button  (click)="searchEmployes(key.value)" class="btn btn-primary my-2 my-sm-0"><i class="fas fa-search"></i></button>

        </form>

        <form class="form-search "  *ngIf="afficherAvancee">
                            <h1 class="h3 mb-3 font-weight-normal">{{message}}</h1>
            <div class="form-label-group">
                <input type="text" id="nom" class="form-control" placeholder="Nom"  autofocus>
                <label class="text-left" for="nom"  >Nom</label>
            </div>
            <div class="form-label-group">
                <input type="text" id="prenom" class="form-control" placeholder="Prenom">
                <label class="text-left" for="prenom"  >Prenom</label>
            </div>
            <div class="form-label-group">
                <input type="text" id="fonction" class="form-control" placeholder="Fonction">
                <label class="text-left" for="fonction"  >Fonction</label>
            </div>
            <div class="form-label-group">
                <input type="text" id="service" class="form-control" placeholder="Service">
                <label class="text-left" for="service"  >Service</label>
            </div>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
            <button class="btn  btn-primary my-2 my-sm-0  btn-block" type="submit"><i class="fas fa-search"> Rechercher</i></button>
                            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>


        <div class="col-12">
            <button type="button" class="btn  btn-link" (click)="rechercheSimple()"  *ngIf="!afficherSimple"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent">Recherche simple
            </button>
            <button type="button" class="btn btn-link" (click)="rechercheAvancee()" *ngIf="!afficherAvancee"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"> Recherche avancée
            </button>
        </div>-->


        <!--form class="form-inline mb-1 float-right">
            <input class="form-control-sm mr-sm-2  input-sm" type="search" key.value='' (keyup.enter)="searchEmployes(key.value)" (blur)="searchEmployes(key.value)" #key  placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0 btn-sm"   (click)="searchEmployes(key.value)"></i></button>
        </form-->

    </main>

    <!--    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>ANNUPS pour une meilleure gestion de l'annuaire de votre entreprise <a href="http://os2-consulting.com">@Contact</a>.</p>
        </div>
    </footer>-->
</div>
<!--div class="container bg-primary d-flex  flex-column w-100 h-100 p-3 mx-auto">
    
    dgffdgfrg
</div-->