<div class="col-md-9 mx-auto my-auto">

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Envoi courrier</h5>
                    <form class="pt-3" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label for="matricule">Réference</label>
                                <input type="text" id="reference" [(ngModel)]="entity.reference" name="reference" class="form-control form-control-sm" autofocus
                                    required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="label">Description du courrier</label>
                                <textarea class="form-control" id="label" [(ngModel)]="entity.label" rows="3" name="label" required></textarea>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="dateReception">Date de réception</label>
                                <input type="text" class="form-control" [(ngModel)]="entity.dateReception" #dp="bsDatepicker" bsDatepicker name="dateReception"
                                    [bsConfig]="bsConfig" [bsValue]="bsValue" required>

                            </div>




                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label for="dateReponse">Date de réponse</label>

                                <input type="text" class="form-control" [(ngModel)]="entity.dateReponse" #dp="bsDatepicker" bsDatepicker name="dateReponse"
                                    [bsConfig]="bsConfig" [bsValue]="bsValue" required>

                            </div>

                            <div class="form-group col-md-3">
                                <label for="datePrevisionnel">Date de previsionnel global</label>
                                <input type="text" class="form-control" [(ngModel)]="entity.dateRetourPrevGlobal" #dp="bsDatepicker" bsDatepicker name="datePrevisionnel"
                                    [bsConfig]="bsConfig" [bsValue]="bsValue" required>

                            </div>

                            <div class="form-group col-md-3">
                                <label for="dateRetour">Date de retour globale</label>

                                <input type="text" class="form-control" [(ngModel)]="entity.dateRetourGlobal" #dp="bsDatepicker" bsDatepicker name="dateRetour"
                                    [bsConfig]="bsConfig" [bsValue]="bsValue" required>

                            </div>
                            <div class="form-group col-md-3">
                                <label for="dateRetourReel">Date de retour réelle</label>

                                <input type="text" class="form-control" #dp="bsDatepicker" [(ngModel)]="entity.dateRetourReel" bsDatepicker name="dateRetourReel"
                                    [bsConfig]="bsConfig" [bsValue]="bsValue" required>

                            </div>
                            <!--  <div class="form-group col-md-3">
                                <label for="dateCloture">Date de clôture</label>

                                <input type="text" class="form-control" #dp="bsDatepicker" [(ngModel)]="entity.dateCloture" bsDatepicker name="dateCloture" [bsConfig]="bsConfig"
                                    [bsValue]="bsValue" required>

                            </div> -->


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">

                                <label for="service">Service</label>

                                <select class="custom-select" name="service" [(ngModel)]="service" id="service" required>
                                    <option value="" selected disabled>Choisir service...</option>
                                    <option *ngFor="let service of allServices" [ngValue]="service">{{service.label}}</option>
                                </select>


                                <!--  <button type="button" class="btn btn-dark">
                                    <i class="fa fa-plus "></i>
                                </button> -->

                            </div>

                            <div class="form-group col-md-3">
                                <button (click)="affectService()" type="button" class="btn btn-dark">
                                    <i class="fa fa-plus "></i>
                                </button>
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="col-md-12">

                                <table class="table  table table-bordered  table-hover ">


                                    <thead class="text-uppercase thead-dark">
                                        <tr>
                                            <th scope="col">Service</th>
                                            <th scope="col">Date retour prévisionnelle</th>
                                            <th scope="col">Type courier</th>
                                            <th>Option</th>

                                        </tr>
                                    </thead>
                                    <tbody class="">

                                        <tr class="link" *ngFor="let sel of envoiCouriers">

                                            <td class="text-uppercase">{{sel.service.label}}</td>
                                            <td class="text-capitalize">
                                                <input type="text" class="form-control form-control-sm" #dp="bsDatepicker" bsDatepicker name="dateRetourPrevisionelle" [bsConfig]="bsConfig"
                                                    [(ngModel)]="sel.dateRetourPrevisionelle" [bsValue]="bsValue" required> </td>
                                            <td class="text-capitalize">
                                                <select class="custom-select form-control-sm" [(ngModel)]="sel.typeCourier" id="typecourrier" name="typecourrier" required>
                                                    <option value="" selected disabled>Choisir type courrier</option>
                                                    <option *ngFor="let type of alltypecourrier" [ngValue]="type">{{type.label}}</option>
                                                </select>

                                            </td>
                                            <td class="text-uppercase">
                                                <button *ngIf="sel"  (click)="desactiverService(sel)" type="button" class="btn btn-danger btn-circle">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>


                                        </tr>

                                    </tbody>
                                    <tfoot>

                                        <!--caption>Employe Details</caption-->
                                    </tfoot>
                                </table>
                            </div>


                        </div>



                        <div class="float-left">
                            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>
                        </div>
                        <!--  <pre>{{f.value | json}}</pre> -->
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>